html {
    scroll-behavior: smooth;
  }

:root{
  --color-main: #161616;
  --color-secondary: #D73953;
}
body {
  color: var(--color-main);
}

a {
  color: var(--color-main);
}

.visually-hidden{
  display: none;
}

.card-category, .section-tagline{
  color: var(--color-secondary);
}

