html {
    scroll-behavior: smooth;
  }

:root{
  --color-main: #161616;
  --color-secondary: #D73953;
}
body, a {
  color: #161616;
}

.visually-hidden{
  display: none;
}

.card-category, .section-tagline{
  color: #D73953;
}

